{% for zone in wanzone %}
set firewall zone {{ zone['name'] }} default-action 'drop'
set firewall zone {{ zone['name'] }} interface {{ zone['interface'] }}

{# set zone-zone fw #}
{% for lanzone in zones %}
set firewall zone	{{ lanzone['name'] }} from {{ zone['name'] }} firewall name 'wan-lan'
set firewall zone	{{ zone['name'] }} from {{ lanzone['name'] }} firewall name 'lan-wan'
{% endfor %}
{% endfor %}
